.footer {
    
    background-color:$secondary_color_azuloscuro;
    color: white;
    padding-inline:80px ;
    padding-bottom: 20px;   
    @media (width > 768px) {
        padding-inline:60px ;
    }
    @media (width > 1280px) {
        padding-inline:300px ;
    }

    &__icon-footer{
        position: relative;
        text-align: center;
        font-family: $fontfamily-header;
        color: $principal_color;
        text-transform: uppercase;
        top: -25px;
        left: 0px;
    }
    
    &__icon-scroll-to-top {
    
        top: 0px;
        height: 2.5rem;
        width: 2.5rem;
        padding-block: 10px;
        background-color: white;
        border-radius: 25px;
        border: none; 

    
    }
}


.nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media (width > 768px) {
        flex-direction: row;
        justify-content: space-between;
    }

    &__list-conteiner, &__footer-sect-2{
        text-decoration: none;
        list-style: none;
        text-align: center;
        margin-bottom: 40px;
        font-family: $footer-font;
    
    }
    &__nav-link  {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    
    }
    &__nav-list {
        font-size: $footer-font;
    }
    &__icon-footer-heart{
        color: red;
    }
}

