.header {
  position: sticky;
  top: 0;
  z-index: 1;  

  &__burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  &__burger-menu-icon{
    background-color: $secondary_color_azul;
    padding: 10px;  
  }
}

