.container-1 {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/cover.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: rotate(-0.23deg);
    height: 100vh;
    padding-inline: 15px;
     

    &__header1{
        text-align: center;
        margin-top:400px;
        font-family: $fontfamily-header;
        font-size: $fontsize-h1;
        font-weight: $fontweight-h1;
        color: $principal_color;
        text-transform: uppercase;
        line-height: $lineheigh-h1;
    }
    &__text {
        color: $principal_color;
        font-size: 16px;
        text-align: center;
        margin-block: 30px;
    }

    &__button {
        background-color: white;
        width: 2.5rem;
        height: 2.5rem;
        padding: 10px;
        border-radius: 50px;
    
    }

   

}