.container-3 {
    
    margin-top: 60px;
    background-color: $primary_color_iceblue;
    padding-inline: 15px;
    padding-block: 80px;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "titulo "
    "texto-1"
    "texto-2"
    "texto-3"
    "boton";
     gap: 30px;

     @media (width > 768px) {
        grid-template-areas: 
        "titulo titulo titulo"
        "texto-1 texto-2 texto-3"
        "boton boton boton";
         gap: 30px;
    
    }

    @media (width > 1280px){

        padding-inline: 80px;

    }

    &__h2 {
        font-size: $fontsize-h2;
        font-weight: $fontweight-h1;
        font-family: $fontfamily-header;
        @media (width > 768px) {
            font-size: $fontsize-h2-tablet;
        }
        @media (width > 1280) {
            font-size: $fontsize-h2-desktop;
        }
        

    }

    &__h3{
        font-size: $fontsize-h3;
        font-weight: $fontweight-h1;
        font-family: $fontfamily-header;
        margin-bottom: 6px;

        @media (width > 768px) {
            font-size: $fontsize-h3-tablet;
        }
        @media (width > 1280) {
            font-size: $fontsize-h3-desktop;
        }
    }

    &__text{
         text-align: center;
        margin-inline: 0px;

    } 
    &__button{
        background-color: $primary_color_orange;
        color: white;
        font-size: $button-fontsize;
        font-weight: $button-weight;
        border: none;
        border-radius: 75px;

        padding: 10px 30px 10px 30px;

    }

    &__section-1 {
        grid-area: titulo;

    
        text-align: center;      
    }
    &__section-2 {
        grid-area: texto-1;
        text-align: center; 
        padding-inline: 50px; 

    }
    &__section-3 {
        grid-area: texto-2;
        text-align: center;  
        padding-inline: 50px; 

   
    }
    &__section-4 {
        grid-area: texto-3;
        text-align: center;  
        padding-inline: 50px; 

    }
    &__section-5 {
        grid-area: boton;
        text-align: center;  
    }

}