.container-2 {
    margin-top: 60px;
    padding-inline: 15px;

    @media (width > 768px) {
        padding-inline: 40px;
 
    }

    @media (width > 1280px){
        padding-inline: 275px;

    }

    &__detail-text {
        font-size: $detail-fontsize;
        color: $secondary_color_azulclaro;
        margin-bottom: 15px;
        text-align: left;
        
    }
    &__h2 {
        font-size: $fontsize-h2;
        font-family: $fontfamily-header;
        margin-bottom: 20px;
        text-align: left;
        line-height: $body_lineheigh;
    }

    &__text{
        text-align: left;
        color: $body_color;
        line-height: $body_lineheigh;
        margin-bottom: 30px;
        @media (width > 1280px){
            width: 730px;
        }

    }

    &__button {
        border: solid 2px $primary_color_orange;
        background:none;
        border-radius: 25px;
        color: $primary_color_orange;
        padding: 10px 25px 10px 25px;
        font-size: $button-fontsize;
        font-weight: $button-weight;
        transition:  0.3s, background-color 0.3s;

    }
    &__button:hover{
        transform: scale(1.05);
        color: $primary_color_iceblue;
        background-color: $secondary_color_azulclaro; 
        border-color: $secondary_color_azulclaro;
    }

    &__link-button {
        text-decoration: none;
        color: $primary_color_orange;
    }


}