.container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/cover.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(-0.23deg);
    height: 100vh;
    padding-inline: 15px
    ;
  

    &__header1{
        text-align: center;
        margin-top:300px;
        font-family: $fontfamily-h1;
        font-size: $fontsize-h1;
        font-weight: $fontweight-h1;
        color: $principal_color;
        text-transform: uppercase;
    }
    &__text {
        color: $principal_color;
        text-align: center;
        margin-block: 30px;
    }

    &__button {
        height: 2.5rem;
        width: 2.5rem;
        padding-top: 4px;
        background-color: white;
        border-radius: 25px;
        border: none;       
    }
}