@import 'core/estilos';
@import 'container-1';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
 
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
  
}
.header{
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0;;

}
.menu {
  
  background-color: $secondary_color_azul;
  width: 40px;
  height: 40px;
  padding: 10px;
  flex-grow: 0;
  text-align: center;
}

